/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;
$clr-warn: #e88f37;
$clr-success: rgb(129, 231, 144);
$clr-error: rgb(248, 89, 89);

/** Dark theme primary colors */
$clr-primary-a0: #e88f37;
$clr-primary-a10: #ed9b4e;
$clr-primary-a20: #f2a864;
$clr-primary-a30: #f6b47a;
$clr-primary-a40: #f9c090;
$clr-primary-a50: #fccda5;

/** Dark theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/** Text */
$clr-text-dark: $clr-dark-a0;
$clr-text: $clr-light-a0;

/** Size */
$s: 0.5rem;
$s1: 1rem;
$s2: 1.5rem;

$p: $s;
$p1: calc($p * 2);
$p2: calc($p * 4);

$r: $s;

$fs: 1rem;
$fs1: calc($fs * 1.2);
$fs2: calc($fs * 2);

@mixin Heading($size) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $size;
}

/** Classes */
.text-subheading {
    @include Heading($fs1);
    color: $clr-primary-a50;
}

.text-heading {
    @include Heading($fs2);
    color: $clr-light-a0;
}

.grid {
    display: grid;
    gap: $p $p1;
}

@mixin Box {
    border-radius: $r;
    padding: $p1;
    background-color: $clr-surface-a10;
}

@mixin SectionButton {
    display: flex;
    align-items: center;
    gap: $p;
    padding: $p $p1 $p $p;
    background-color: transparent;
    border: 1px solid $clr-primary-a30;
    color: $clr-text;
    border-radius: $r;
    cursor: pointer;

    app-icon {
        --size: 1.5rem;
        --color: #f6b47a;
    }

    &:active {
        transform: scale(0.95);
    }
}

@mixin Section {
    @include Box();
    display: flex;
    flex-direction: column;
    gap: $p1;

    .section-title {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: $fs1;
        line-height: $fs1;
    }

    .row {
        display: flex;
        gap: $p1;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: $p1;
    }

    & > button,
    .row > button,
    .column > button {
        @include SectionButton();
    }
}

@mixin SectionInput {
    border-radius: $r;
    background-color: $clr-surface-a10;
    border: 1px solid $clr-surface-a30;
    padding: $p $p1;
    color: $clr-text;
}
